<div class="row bg-success m-0" style="height: 200px">
    <div class="col-12 bg-danger">HEADER</div>
</div>

<div class="row">
    <div class="col-3 bg-primary" style="height: 500px">DIV1</div>
    <div class="col-7 bg-info">DIV2</div>
    <div class="col-2 bg-warning">DIV3</div>
</div>
<div class="row m-0" style="height: 100px">
    <div class="col-6 bg-black">FOOTER1</div>
    <div class="col-6 bg-success">FOOTER2</div>

</div>