<div class="row bg-success m-0" style="height:200px"><div class="col-12 bg-danger">HEADER</div></div>

<div class="row m-0 gap-3 g-3" style="height:500px">
    <div class="col-12 col-md-3 bg-primary">DIV-1</div>
    <div class="col-12 col-md bg-info">DIV-2</div>
    <div class="col-12 d-md-none d-lg-block col-lg-2 bg-warning">DIV-3</div>
</div>
<div class="row m-0 gap-3 g-3" style="height:200px">
    <div class="col bg-black">FOOTER-1</div>
    <div class="col bg-success">FOOTER-2</div>
    <div class="col bg-primary">FOOTER-3</div>
    <div class="col bg-success">FOOTER-4</div>
</div>