@{
    ViewData["Title"] = "Imagens no Bootstrap";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <button class="btn btn-outline-primary"> teste 1</button>
    <hr class="mt-3" />
<img class="img-fluid " src="~/img/monkey.jpeg" />
<hr class="mt-3" />
    <img class="img-thumbnail " src="~/img/monkey.jpeg" />
    <hr class="mt-3" />
    <img class="img-fluid rounded-circle" src="~/img/monkey.jpeg" width="200" height="300" />
    <hr class="mt-3" />
</div>